In [27]:
from pyspark.sql import SparkSession
 
spark=SparkSession.\
    builder.\
    config('spark.shuffle.useOldFetchProtocol','true').\
    config('spark.ui.port','0').\
    config("spark.sql.warehouse.dir","/user/itv016478/warehouse").\
    enableHiveSupport().\
    master('yarn').\
    getOrCreate()

In [28]:
customers_df = spark.read \
.format("parquet") \
.load("/user/itv016478/lendingclubproject/cleaned/customers_parquet/")

In [29]:
customers_df

+--------------------+--------------------+----------+--------------+-------------+-------------+---------------+---------------+-----+---------+-------------------+-----------------------+----------------+------------------+-------------------------+--------------------+
|           member_id|           emp_title|emp_length|home_ownership|annual_income|address_state|address_zipcode|address_country|grade|sub_grade|verification_status|total_high_credit_limit|application_type|join_annual_income|verification_status_joint|         ingest_date|
+--------------------+--------------------+----------+--------------+-------------+-------------+---------------+---------------+-----+---------+-------------------+-----------------------+----------------+------------------+-------------------------+--------------------+
|42c0d86fde84607a0...|       Store Manager|         3|          RENT|      49600.0|           MS|          396xx|            USA|    B|       B3|           Verified|                34600.0|      Individual|              null|                     null|2025-06-15 05:50:...|
|64181326110c859ed...|            Vet tech|        10|      MORTGAGE|      42000.0|           OH|          452xx|            USA|    D|       D4|    Source Verified|                50208.0|      Individual|              null|                     null|2025-06-15 05:50:...|
|d39b9dd4bbfcdf3b9...|                AMSA|         5|          RENT|      46000.0|           WA|          984xx|            USA|    D|       D4|           Verified|               117993.0|      Individual|              null|                     null|2025-06-15 05:50:...|
|fdf9ad3a88dc0970f...|               Admin|         7|      MORTGAGE|      70000.0|           VA|          201xx|            USA|    C|       C4|           Verified|               528287.0|      Individual|              null|                     null|2025-06-15 05:50:...|
|a80d21bff6db10e40...|      Associate V.P.|         1|      MORTGAGE|     185000.0|           MA|          019xx|            USA|    A|       A1|       Not Verified|               599432.0|      Individual|              null|                     null|2025-06-15 05:50:...|
|e475c71f8f6859eb5...|           machinist|         5|      MORTGAGE|      60000.0|           OH|          441xx|            USA|    B|       B2|       Not Verified|                49760.0|      Individual|              null|                     null|2025-06-15 05:50:...|
|14f52f3fdc9ab7cf1...|      Security Guard|         1|      MORTGAGE|      20400.0|           CA|          913xx|            USA|    C|       C5|           Verified|               125600.0|      Individual|              null|                     null|2025-06-15 05:50:...|
|219b462ac15250b23...|     Systems Analyst|        10|           OWN|      41520.0|           TX|          773xx|            USA|    B|       B4|           Verified|                54976.0|      Individual|              null|                     null|2025-06-15 05:50:...|
|dbd9f7a2f51bf1f52...|          Supervisor|         8|      MORTGAGE|      55000.0|           SC|          294xx|            USA|    B|       B3|    Source Verified|               145048.0|      Individual|              null|                     null|2025-06-15 05:50:...|
|0f5552e3a3960848b...|   RN Senior Manager|         2|      MORTGAGE|      90000.0|           AZ|          852xx|            USA|    B|       B1|       Not Verified|               330485.0|      Individual|              null|                     null|2025-06-15 05:50:...|
|dacc44adfb75005bb...|Senior Systems Ad...|         3|      MORTGAGE|      95000.0|           MA|          016xx|            USA|    B|       B3|    Source Verified|                64454.0|      Individual|              null|                     null|2025-06-15 05:50:...|
|f0acabc138fc6ff61...|Supply Chain Manager|         1|          RENT|      85000.0|           MD|          208xx|            USA|    B|       B4|    Source Verified|               121276.0|      Individual|              null|                     null|2025-06-15 05:50:...|
|dc3d5eb58cc2acb9e...|        Vice Provost|         3|      MORTGAGE|     220000.0|           FL|          327xx|            USA|    A|       A1|    Source Verified|               706965.0|      Individual|              null|                     null|2025-06-15 05:50:...|
|4156065628f783a4d...|              Driver|        10|      MORTGAGE|      70000.0|           TX|          770xx|            USA|    B|       B4|       Not Verified|                99480.0|      Individual|              null|                     null|2025-06-15 05:50:...|
|283432019ce747da4...|       Shift Manager|        10|      MORTGAGE|     100000.0|           SC|          298xx|            USA|    C|       C4|    Source Verified|               165900.0|      Individual|              null|                     null|2025-06-15 05:50:...|
|350eb08c30d3d89b5...|           President|        10|          RENT|      70000.0|           CA|          921xx|            USA|    D|       D3|    Source Verified|                68571.0|      Individual|              null|                     null|2025-06-15 05:50:...|
|f3652b4f575592ddf...|         Electrician|         9|           OWN|      93500.0|           MI|          481xx|            USA|    D|       D1|    Source Verified|                76000.0|      Individual|              null|                     null|2025-06-15 05:50:...|
|3753580ef07e3b37b...|      Visiting Nurse|         5|      MORTGAGE|      62400.0|           CT|          063xx|            USA|    D|       D3|    Source Verified|                46473.0|      Individual|              null|                     null|2025-06-15 05:50:...|
|6a9f6d97fe434e513...|              Dealer|        10|          RENT|      50000.0|           CA|          921xx|            USA|    E|       E1|           Verified|                28000.0|      Individual|              null|                     null|2025-06-15 05:50:...|
|36888136415be034f...|               Owner|         9|      MORTGAGE|     140000.0|           PA|          182xx|            USA|    B|       B2|       Not Verified|               322605.0|      Individual|              null|                     null|2025-06-15 05:50:...|
+--------------------+--------------------+----------+--------------+-------------+-------------+---------------+---------------+-----+---------+-------------------+-----------------------+----------------+------------------+-------------------------+--------------------+
only showing top 20 rows

In [30]:
customers_df.printSchema()

root
 |-- member_id: string (nullable = true)
 |-- emp_title: string (nullable = true)
 |-- emp_length: integer (nullable = true)
 |-- home_ownership: string (nullable = true)
 |-- annual_income: float (nullable = true)
 |-- address_state: string (nullable = true)
 |-- address_zipcode: string (nullable = true)
 |-- address_country: string (nullable = true)
 |-- grade: string (nullable = true)
 |-- sub_grade: string (nullable = true)
 |-- verification_status: string (nullable = true)
 |-- total_high_credit_limit: float (nullable = true)
 |-- application_type: string (nullable = true)
 |-- join_annual_income: float (nullable = true)
 |-- verification_status_joint: string (nullable = true)
 |-- ingest_date: timestamp (nullable = true)

In [31]:
spark.sql("CREATE DATABASE IF NOT EXISTS  itv016478_lending_clubb")

++
||
++
++

In [32]:
spark.sql("""CREATE TABLE IF NOT EXISTS itv016478_lending_clubb.customers(member_id string, emp_title string, emp_length int , home_ownership string,
annual_inc float, addr_state string, zip_code string, country string, grade string, sub_grade string, verification_status string, 
tot_hi_cred_lim float, application_type string, annual_inc_joint float, verification_status_joint string, ingest_date timestamp )stored as parquet LOCATION'/user/itv016478/lendingclubproject/cleaned/customers_parquet'""")

++
||
++
++

In [33]:
customers_df.printSchema()

root
 |-- member_id: string (nullable = true)
 |-- emp_title: string (nullable = true)
 |-- emp_length: integer (nullable = true)
 |-- home_ownership: string (nullable = true)
 |-- annual_income: float (nullable = true)
 |-- address_state: string (nullable = true)
 |-- address_zipcode: string (nullable = true)
 |-- address_country: string (nullable = true)
 |-- grade: string (nullable = true)
 |-- sub_grade: string (nullable = true)
 |-- verification_status: string (nullable = true)
 |-- total_high_credit_limit: float (nullable = true)
 |-- application_type: string (nullable = true)
 |-- join_annual_income: float (nullable = true)
 |-- verification_status_joint: string (nullable = true)
 |-- ingest_date: timestamp (nullable = true)

In [34]:
spark.sql("select * from  itv016478_lending_clubb.customers")

+--------------------+--------------------+----------+--------------+----------+----------+--------+-------+-----+---------+-------------------+---------------+----------------+----------------+-------------------------+---------------------+
|           member_id|           emp_title|emp_length|home_ownership|annual_inc|addr_state|zip_code|country|grade|sub_grade|verification_status|tot_hi_cred_lim|application_type|annual_inc_joint|verification_status_joint|ingest_date_timestamp|
+--------------------+--------------------+----------+--------------+----------+----------+--------+-------+-----+---------+-------------------+---------------+----------------+----------------+-------------------------+---------------------+
|42c0d86fde84607a0...|       Store Manager|         3|          RENT|      null|      null|    null|   null|    B|       B3|           Verified|           null|      Individual|            null|                     null|                 null|
|64181326110c859ed...|            Vet tech|        10|      MORTGAGE|      null|      null|    null|   null|    D|       D4|    Source Verified|           null|      Individual|            null|                     null|                 null|
|d39b9dd4bbfcdf3b9...|                AMSA|         5|          RENT|      null|      null|    null|   null|    D|       D4|           Verified|           null|      Individual|            null|                     null|                 null|
|fdf9ad3a88dc0970f...|               Admin|         7|      MORTGAGE|      null|      null|    null|   null|    C|       C4|           Verified|           null|      Individual|            null|                     null|                 null|
|a80d21bff6db10e40...|      Associate V.P.|         1|      MORTGAGE|      null|      null|    null|   null|    A|       A1|       Not Verified|           null|      Individual|            null|                     null|                 null|
|e475c71f8f6859eb5...|           machinist|         5|      MORTGAGE|      null|      null|    null|   null|    B|       B2|       Not Verified|           null|      Individual|            null|                     null|                 null|
|14f52f3fdc9ab7cf1...|      Security Guard|         1|      MORTGAGE|      null|      null|    null|   null|    C|       C5|           Verified|           null|      Individual|            null|                     null|                 null|
|219b462ac15250b23...|     Systems Analyst|        10|           OWN|      null|      null|    null|   null|    B|       B4|           Verified|           null|      Individual|            null|                     null|                 null|
|dbd9f7a2f51bf1f52...|          Supervisor|         8|      MORTGAGE|      null|      null|    null|   null|    B|       B3|    Source Verified|           null|      Individual|            null|                     null|                 null|
|0f5552e3a3960848b...|   RN Senior Manager|         2|      MORTGAGE|      null|      null|    null|   null|    B|       B1|       Not Verified|           null|      Individual|            null|                     null|                 null|
|dacc44adfb75005bb...|Senior Systems Ad...|         3|      MORTGAGE|      null|      null|    null|   null|    B|       B3|    Source Verified|           null|      Individual|            null|                     null|                 null|
|f0acabc138fc6ff61...|Supply Chain Manager|         1|          RENT|      null|      null|    null|   null|    B|       B4|    Source Verified|           null|      Individual|            null|                     null|                 null|
|dc3d5eb58cc2acb9e...|        Vice Provost|         3|      MORTGAGE|      null|      null|    null|   null|    A|       A1|    Source Verified|           null|      Individual|            null|                     null|                 null|
|4156065628f783a4d...|              Driver|        10|      MORTGAGE|      null|      null|    null|   null|    B|       B4|       Not Verified|           null|      Individual|            null|                     null|                 null|
|283432019ce747da4...|       Shift Manager|        10|      MORTGAGE|      null|      null|    null|   null|    C|       C4|    Source Verified|           null|      Individual|            null|                     null|                 null|
|350eb08c30d3d89b5...|           President|        10|          RENT|      null|      null|    null|   null|    D|       D3|    Source Verified|           null|      Individual|            null|                     null|                 null|
|f3652b4f575592ddf...|         Electrician|         9|           OWN|      null|      null|    null|   null|    D|       D1|    Source Verified|           null|      Individual|            null|                     null|                 null|
|3753580ef07e3b37b...|      Visiting Nurse|         5|      MORTGAGE|      null|      null|    null|   null|    D|       D3|    Source Verified|           null|      Individual|            null|                     null|                 null|
|6a9f6d97fe434e513...|              Dealer|        10|          RENT|      null|      null|    null|   null|    E|       E1|           Verified|           null|      Individual|            null|                     null|                 null|
|36888136415be034f...|               Owner|         9|      MORTGAGE|      null|      null|    null|   null|    B|       B2|       Not Verified|           null|      Individual|            null|                     null|                 null|
+--------------------+--------------------+----------+--------------+----------+----------+--------+-------+-----+---------+-------------------+---------------+----------------+----------------+-------------------------+---------------------+
only showing top 20 rows

In [35]:
#For loans
loans_df = spark.read \
.format("parquet") \
.load("/user/itv016478/lendingclubproject/cleaned/loans_parquet/")

In [36]:
spark.sql("""CREATE TABLE IF NOT EXISTS itv016478_lending_clubb.loans(loan_id string, member_id string, loan_amount float, funded_amount float, loan_term_years integer, interest_rate float, 
monthly_installment float, issue_date string, loan_status string, loan_purpose string, loan_title string ,ingest_date timestamp) stored as parquet LOCATION'/user/itv016478/lendingclubproject/cleaned/loans_parquet/'""")

++
||
++
++

In [37]:
spark.sql("select * from  itv016478_lending_clubb.loans")

+--------+--------------------+-----------+-------------+----------------+-------------+-------------------+----------+-----------+------------------+--------------------+
| loan_id|           member_id|loan_amount|funded_amount|loan_term_months|interest_rate|monthly_installment|issue_date|loan_status|      loan_purpose|          loan_title|
+--------+--------------------+-----------+-------------+----------------+-------------+-------------------+----------+-----------+------------------+--------------------+
|68407277|6d5091b3fcaaeb4ea...|     3600.0|       3600.0|            null|        13.99|             123.03|  Dec-2015| Fully Paid|debt_consolidation|  Debt consolidation|
|68355089|b5e7938b0a2da4cea...|    24700.0|      24700.0|            null|        11.99|             820.28|  Dec-2015| Fully Paid|    small_business|            Business|
|68341763|91060b858433e8a61...|    20000.0|      20000.0|            null|        10.78|             432.66|  Dec-2015| Fully Paid|  home_improvement|                null|
|66310712|cab1fa9f533688b0a...|    35000.0|      35000.0|            null|        14.85|              829.9|  Dec-2015|    Current|debt_consolidation|  Debt consolidation|
|68476807|f74e401c1ab0adf78...|    10400.0|      10400.0|            null|        22.45|             289.91|  Dec-2015| Fully Paid|    major_purchase|      Major purchase|
|68426831|8aef4bb29d609d8d6...|    11950.0|      11950.0|            null|        13.44|             405.18|  Dec-2015| Fully Paid|debt_consolidation|  Debt consolidation|
|68476668|538b4653da3b1e814...|    20000.0|      20000.0|            null|         9.17|             637.58|  Dec-2015| Fully Paid|debt_consolidation|  Debt consolidation|
|67275481|b24d55f21390533c5...|    20000.0|      20000.0|            null|         8.49|             631.26|  Dec-2015| Fully Paid|    major_purchase|      Major purchase|
|68466926|1035c5401b0ca76d0...|    10000.0|      10000.0|            null|         6.49|             306.45|  Dec-2015| Fully Paid|       credit_card|Credit card refin...|
|68616873|cb0f1777593e77909...|     8000.0|       8000.0|            null|        11.48|             263.74|  Dec-2015| Fully Paid|       credit_card|Credit card refin...|
|68356421|a962f4d59caec5fa1...|    22400.0|      22400.0|            null|        12.88|              508.3|  Dec-2015|    Current|debt_consolidation|  Debt consolidation|
|68426545|e7592ab57b3afd9f1...|    16000.0|      16000.0|            null|        12.88|             363.07|  Dec-2015|    Current|debt_consolidation|  Debt consolidation|
|68338832|603afa9d1be879b7b...|     1400.0|       1400.0|            null|        12.88|               47.1|  Dec-2015| Fully Paid|             other|                null|
|66624733|9fe2d59ddf2a4f37e...|    18000.0|      18000.0|            null|        19.48|              471.7|  Dec-2015|Charged Off|debt_consolidation|  Debt consolidation|
|68466961|23857480ccf555ce4...|    28000.0|      28000.0|            null|         6.49|             858.05|  Dec-2015| Fully Paid|debt_consolidation|  Debt consolidation|
|68354783|7c69d5f36fdabf6e1...|     9600.0|       9600.0|            null|         7.49|             298.58|  Dec-2015| Fully Paid|       credit_card|Credit card refin...|
|68466916|08bf9e080503b0113...|    25000.0|      25000.0|            null|         7.49|             777.55|  Dec-2015| Fully Paid|debt_consolidation|  Debt consolidation|
|68577849|1cafb05aa6c894c30...|    18000.0|      18000.0|            null|        11.99|             400.31|  Dec-2015| Fully Paid|debt_consolidation|  Debt consolidation|
|68506798|f2c4010f700d8c9c4...|    23000.0|      23000.0|            null|         8.49|             471.77|  Dec-2015|    Current|       credit_card|Credit card refin...|
|68495092|05ad4aed7c393035e...|     8650.0|       8650.0|            null|        19.89|             320.99|  Dec-2015| Fully Paid|debt_consolidation|  Debt consolidation|
+--------+--------------------+-----------+-------------+----------------+-------------+-------------------+----------+-----------+------------------+--------------------+
only showing top 20 rows

In [38]:
#for loans repayment
loans_repay_df = spark.read \
.format("parquet") \
.load("/user/itv016478/lendingclubproject/cleaned/loans_repayments_parquet/")

In [39]:
spark.sql("""CREATE TABLE IF NOT EXISTS itv016478_lending_clubb.loans_repay(loan_id string, total_principal_received float, total_interest_received float,total_late_fee_received float, total_payment_received float, last_payment_amount float, last_payment_date string, next_payment_date string,ingest_date timestamp)stored as parquet LOCATION'/user/itv016478/lendingclubproject/cleaned/loans_repayments_parquet/' """)

++
||
++
++

In [40]:
spark.sql("select * from  itv016478_lending_clubb.loans_repay").show()

+--------+------------------------+-----------------------+-----------------------+----------------------+-------------------+-----------------+-----------------+
| loan_id|total_principal_received|total_interest_received|total_late_fee_received|total_payment_received|last_payment_amount|last_payment_date|next_payment_date|
+--------+------------------------+-----------------------+-----------------------+----------------------+-------------------+-----------------+-----------------+
|76003861|                  6423.8|                5607.85|                    0.0|              12031.65|             574.88|         Jan-2018|             null|
|76263914|                  2400.0|                 323.18|                    0.0|             2723.1802|             905.18|         Dec-2017|             null|
|75537401|                 12600.0|                1392.76|                    0.0|             13992.757|            3437.74|         Aug-2018|             null|
|75038986|                 7805.03|                7583.71|                    0.0|              15388.74|             440.72|         Mar-2019|         Apr-2019|
|76301424|                 2614.78|                1080.09|                    0.0|               3694.87|             153.89|         Apr-2018|             null|
|75333198|                 8664.09|                3431.32|                   68.8|              12164.21|              343.9|         Mar-2019|         Apr-2019|
|76391453|                 35000.0|               10266.01|                    0.0|             45266.008|           18884.35|         Feb-2019|             null|
|76363364|                 15000.0|                2093.11|                    0.0|             17093.107|            4648.59|         Aug-2018|             null|
|76272510|                14463.21|               11178.79|                 110.13|              25752.13|             734.18|         Mar-2019|         Apr-2019|
|76304116|                  4800.0|                1051.65|                    0.0|             5851.6523|            1761.59|         Dec-2017|             null|
|76422971|                 2222.99|                1457.74|                    0.0|               4357.37|             369.25|         Feb-2017|             null|
|75369187|                17855.93|                9340.74|                    0.0|              27196.67|             778.38|         Mar-2019|         Apr-2019|
|76212079|                 6197.74|                 935.75|                    0.0|               7133.49|              204.0|         Mar-2019|         Apr-2019|
|75104089|                  8500.0|                1208.95|                    0.0|              9708.954|             213.62|         Feb-2019|             null|
|75669444|                14313.44|               13782.05|                    0.0|              28095.49|             807.98|         Feb-2019|         Apr-2019|
|76223382|                 1936.79|                 292.42|                    0.0|               2229.21|              63.75|         Mar-2019|         Apr-2019|
|76223540|                 25000.0|                3383.18|                 134.19|             28517.375|            5107.74|         Apr-2017|             null|
|76255093|                  7000.0|                1830.84|                    0.0|              8830.839|             435.99|         Jan-2019|             null|
|76402196|                 7731.33|                1787.84|                    0.0|               9519.17|             272.15|         Mar-2019|         Apr-2019|
|76223437|                 24000.0|                3186.22|                    0.0|             27186.223|            8110.44|         Jun-2018|             null|
+--------+------------------------+-----------------------+-----------------------+----------------------+-------------------+-----------------+-----------------+
only showing top 20 rows

In [41]:
# for loans defaulters delinq
loans_delinq_df= spark.read \
.format("parquet") \
.load("/user/itv016478/lendingclubproject/cleaned/loans_def_delinq_parquet")

In [42]:
spark.sql("""CREATE TABLE IF NOT EXISTS itv016478_lending_clubb.loans_delinq(
member_id string, delinq_2yrs integer, delinq_amnt float, mths_since_last_delinq integer)
stored as parquet LOCATION '/user/itv016478/lendingclubproject/cleaned/loans_def_delinq_parquet'""")

++
||
++
++

In [43]:
spark.sql("select * from itv016478_lending_clubb.loans_delinq").show()

+--------------------+-----------+-----------+----------------------+
|           member_id|delinq_2yrs|delinq_amnt|mths_since_last_delinq|
+--------------------+-----------+-----------+----------------------+
|25b8cd9ff47e50eea...|          0|        0.0|                    51|
|b22f99c198f3738a7...|          0|        0.0|                    72|
|4b3b7068c15b0e046...|          0|        0.0|                    68|
|9468bb9f4c7e39e72...|          1|        0.0|                     7|
|a14a75a803373848c...|          0|        0.0|                    68|
|c1573ce869bafcbe9...|          0|        0.0|                    30|
|7a748acb9cb11d073...|          0|        0.0|                    40|
|3029a35037c3d47f2...|          0|        0.0|                    59|
|989b1622ddf441235...|          0|        0.0|                    75|
|69d87d14c315f222d...|          0|        0.0|                    55|
|ddfd80e7e343ac461...|          0|        0.0|                    27|
|35fc5d3e40b795b6e...|          1|        0.0|                    16|
|e712f2b8b7e5ae16e...|          0|        0.0|                    43|
|b8804bb2042cc0b6a...|          2|        0.0|                     9|
|1c82a86fd13ed0224...|          1|        0.0|                    10|
|2a04914163408bc96...|          0|        0.0|                    33|
|fde61de946580172a...|          0|        0.0|                    37|
|7df102da102df8311...|          1|     4569.0|                     0|
|aa67a9ce9197f8003...|          0|        0.0|                    28|
|9a6c74c10110dcec0...|          2|        0.0|                     5|
+--------------------+-----------+-----------+----------------------+
only showing top 20 rows

In [44]:
spark.sql("DROP TABLE IF EXISTS itv016478_lending_clubb.loans_enqq")

++
||
++
++

In [45]:
 spark.sql("""Create External Table if not exists itv016478_lending_clubb.loans_enqq(member_id string, pub_rec float, pub_rec_bankruptcies float, inq_last_6mths integer) stored as parquet LOCATION '/user/itv016478/lendingclubproject/cleaned/loans_def_detail_records_enq_parquet' """)

++
||
++
++

In [46]:
spark.sql("USE itv016478_lending_clubb")

++
||
++
++

In [47]:
spark.sql("SHOW TABLES").show()

+--------------------+--------------------+-----------+
|            database|           tableName|isTemporary|
+--------------------+--------------------+-----------+
|itv016478_lending...|           customers|      false|
|itv016478_lending...|    customers_loan_a|      false|
|itv016478_lending...|    customers_loan_l|      false|
|itv016478_lending...|    customers_loan_s|      false|
|itv016478_lending...|    customers_loan_t|      false|
|itv016478_lending...|    customers_loan_v|      false|
|itv016478_lending...|   customers_loan_vv|      false|
|itv016478_lending...|       customerstest|      false|
|itv016478_lending...|               loans|      false|
|itv016478_lending...|        loans_delinq|      false|
|itv016478_lending...|           loans_enq|      false|
|itv016478_lending...|          loans_enqq|      false|
|itv016478_lending...|      loans_enqqtest|      false|
|itv016478_lending...|    loans_new_delinq|      false|
|itv016478_lending...|      loans_new_enqq|      false|
|itv016478_lending...|loans_new_enqq_final|      false|
|itv016478_lending...|loans_new_enqq_fi...|      false|
|itv016478_lending...|   loans_new_enqq_tt|      false|
|itv016478_lending...|         loans_repay|      false|
|itv016478_lending...|           loanstest|      false|
+--------------------+--------------------+-----------+
only showing top 20 rows

In [48]:
df = spark.read.parquet("/user/itv016478/lendingclubproject/cleaned/loans_def_detail_records_enq_parquet")
df.printSchema()
df.show(5)

root
 |-- member_id: string (nullable = true)
 |-- pub_rec: float (nullable = true)
 |-- pub_rec_bankruptcies: float (nullable = true)
 |-- inq_last_6mths: integer (nullable = true)

+--------------------+-------+--------------------+--------------+
|           member_id|pub_rec|pub_rec_bankruptcies|inq_last_6mths|
+--------------------+-------+--------------------+--------------+
|d86a1c7244ace602c...|    1.0|                 1.0|             0|
|25b8cd9ff47e50eea...|    0.0|                 0.0|             1|
|f9773942305b2dc9c...|    1.0|                 1.0|             0|
|b22f99c198f3738a7...|    0.0|                 0.0|             0|
|4b3b7068c15b0e046...|    0.0|                 0.0|             4|
+--------------------+-------+--------------------+--------------+
only showing top 5 rows

In [49]:
spark.sql("select * from itv016478_lending_clubb.loans_enqq")

+--------------------+-------+--------------------+--------------+
|           member_id|pub_rec|pub_rec_bankruptcies|inq_last_6mths|
+--------------------+-------+--------------------+--------------+
|d86a1c7244ace602c...|    1.0|                 1.0|             0|
|25b8cd9ff47e50eea...|    0.0|                 0.0|             1|
|f9773942305b2dc9c...|    1.0|                 1.0|             0|
|b22f99c198f3738a7...|    0.0|                 0.0|             0|
|4b3b7068c15b0e046...|    0.0|                 0.0|             4|
|0c7a9f8a6d5b209d2...|    1.0|                 1.0|             0|
|f1cc7e6ae9c735148...|    0.0|                 0.0|             0|
|8f8faa7eeb2a1ee41...|    0.0|                 0.0|             0|
|dad3f5ea8788186cb...|    0.0|                 0.0|             2|
|a20867c0985126202...|    0.0|                 0.0|             2|
|b62a92faa291b619c...|    2.0|                 1.0|             2|
|9468bb9f4c7e39e72...|    0.0|                 0.0|             0|
|56a52156bd14bef8b...|    0.0|                 0.0|             0|
|9b2294c29096348d5...|    0.0|                 0.0|             0|
|b9c65cbaf8241cbe8...|    1.0|                 0.0|             0|
|a14a75a803373848c...|    0.0|                 0.0|             0|
|c1573ce869bafcbe9...|    0.0|                 0.0|             0|
|7a748acb9cb11d073...|    0.0|                 0.0|             0|
|38edbe648d5b71710...|    1.0|                 1.0|             0|
|dc68448ffbc44bb2b...|    0.0|                 0.0|             1|
+--------------------+-------+--------------------+--------------+
only showing top 20 rows

In [50]:
spark.sql("""
CREATE EXTERNAL TABLE IF NOT EXISTS itv016478_lending_clubb.loans_enqq (
    member_id STRING,
    pub_rec FLOAT,
    pub_rec_bankruptcies FLOAT,
    inq_last_6mths FLOAT
)
USING PARQUET
LOCATION '/user/itv016478/lendingclubproject/cleaned/loans_def_detail_records_enq_parquet'
""")

AnalysisException: Operation not allowed: CREATE EXTERNAL TABLE ... USING

In [51]:
spark.sql("select * from itv016478_lending_clubb.loans_enqq")

+--------------------+-------+--------------------+--------------+
|           member_id|pub_rec|pub_rec_bankruptcies|inq_last_6mths|
+--------------------+-------+--------------------+--------------+
|d86a1c7244ace602c...|    1.0|                 1.0|             0|
|25b8cd9ff47e50eea...|    0.0|                 0.0|             1|
|f9773942305b2dc9c...|    1.0|                 1.0|             0|
|b22f99c198f3738a7...|    0.0|                 0.0|             0|
|4b3b7068c15b0e046...|    0.0|                 0.0|             4|
|0c7a9f8a6d5b209d2...|    1.0|                 1.0|             0|
|f1cc7e6ae9c735148...|    0.0|                 0.0|             0|
|8f8faa7eeb2a1ee41...|    0.0|                 0.0|             0|
|dad3f5ea8788186cb...|    0.0|                 0.0|             2|
|a20867c0985126202...|    0.0|                 0.0|             2|
|b62a92faa291b619c...|    2.0|                 1.0|             2|
|9468bb9f4c7e39e72...|    0.0|                 0.0|             0|
|56a52156bd14bef8b...|    0.0|                 0.0|             0|
|9b2294c29096348d5...|    0.0|                 0.0|             0|
|b9c65cbaf8241cbe8...|    1.0|                 0.0|             0|
|a14a75a803373848c...|    0.0|                 0.0|             0|
|c1573ce869bafcbe9...|    0.0|                 0.0|             0|
|7a748acb9cb11d073...|    0.0|                 0.0|             0|
|38edbe648d5b71710...|    1.0|                 1.0|             0|
|dc68448ffbc44bb2b...|    0.0|                 0.0|             1|
+--------------------+-------+--------------------+--------------+
only showing top 20 rows

In [52]:
!hadoop fs -ls /user/itv016478/lendingclubproject/cleaned/loans_def_detail_records_enq_parquet

Found 3 items
-rw-r--r--   3 itv016478 supergroup          0 2025-05-20 11:39 /user/itv016478/lendingclubproject/cleaned/loans_def_detail_records_enq_parquet/_SUCCESS
-rw-r--r--   3 itv016478 supergroup   77108077 2025-05-20 11:39 /user/itv016478/lendingclubproject/cleaned/loans_def_detail_records_enq_parquet/part-00000-21a4d4ec-5b31-4bff-b8fe-e7f23210b448-c000.snappy.parquet
-rw-r--r--   3 itv016478 supergroup   74124369 2025-05-20 11:39 /user/itv016478/lendingclubproject/cleaned/loans_def_detail_records_enq_parquet/part-00001-21a4d4ec-5b31-4bff-b8fe-e7f23210b448-c000.snappy.parquet

In [53]:
df = spark.read.format("parquet").load("/user/itv016478/lendingclubproject/cleaned/loans_def_detail_records_enq_parquet/part-00000-21a4d4ec-5b31-4bff-b8fe-e7f23210b448-c000.snappy.parquet")
df.show()

+--------------------+-------+--------------------+--------------+
|           member_id|pub_rec|pub_rec_bankruptcies|inq_last_6mths|
+--------------------+-------+--------------------+--------------+
|d86a1c7244ace602c...|    1.0|                 1.0|             0|
|25b8cd9ff47e50eea...|    0.0|                 0.0|             1|
|f9773942305b2dc9c...|    1.0|                 1.0|             0|
|b22f99c198f3738a7...|    0.0|                 0.0|             0|
|4b3b7068c15b0e046...|    0.0|                 0.0|             4|
|0c7a9f8a6d5b209d2...|    1.0|                 1.0|             0|
|f1cc7e6ae9c735148...|    0.0|                 0.0|             0|
|8f8faa7eeb2a1ee41...|    0.0|                 0.0|             0|
|dad3f5ea8788186cb...|    0.0|                 0.0|             2|
|a20867c0985126202...|    0.0|                 0.0|             2|
|b62a92faa291b619c...|    2.0|                 1.0|             2|
|9468bb9f4c7e39e72...|    0.0|                 0.0|             0|
|56a52156bd14bef8b...|    0.0|                 0.0|             0|
|9b2294c29096348d5...|    0.0|                 0.0|             0|
|b9c65cbaf8241cbe8...|    1.0|                 0.0|             0|
|a14a75a803373848c...|    0.0|                 0.0|             0|
|c1573ce869bafcbe9...|    0.0|                 0.0|             0|
|7a748acb9cb11d073...|    0.0|                 0.0|             0|
|38edbe648d5b71710...|    1.0|                 1.0|             0|
|dc68448ffbc44bb2b...|    0.0|                 0.0|             1|
+--------------------+-------+--------------------+--------------+
only showing top 20 rows

In [54]:
spark.sql("Select * from  itv016478_lending_clubb.loans_enqq")

+--------------------+-------+--------------------+--------------+
|           member_id|pub_rec|pub_rec_bankruptcies|inq_last_6mths|
+--------------------+-------+--------------------+--------------+
|d86a1c7244ace602c...|    1.0|                 1.0|             0|
|25b8cd9ff47e50eea...|    0.0|                 0.0|             1|
|f9773942305b2dc9c...|    1.0|                 1.0|             0|
|b22f99c198f3738a7...|    0.0|                 0.0|             0|
|4b3b7068c15b0e046...|    0.0|                 0.0|             4|
|0c7a9f8a6d5b209d2...|    1.0|                 1.0|             0|
|f1cc7e6ae9c735148...|    0.0|                 0.0|             0|
|8f8faa7eeb2a1ee41...|    0.0|                 0.0|             0|
|dad3f5ea8788186cb...|    0.0|                 0.0|             2|
|a20867c0985126202...|    0.0|                 0.0|             2|
|b62a92faa291b619c...|    2.0|                 1.0|             2|
|9468bb9f4c7e39e72...|    0.0|                 0.0|             0|
|56a52156bd14bef8b...|    0.0|                 0.0|             0|
|9b2294c29096348d5...|    0.0|                 0.0|             0|
|b9c65cbaf8241cbe8...|    1.0|                 0.0|             0|
|a14a75a803373848c...|    0.0|                 0.0|             0|
|c1573ce869bafcbe9...|    0.0|                 0.0|             0|
|7a748acb9cb11d073...|    0.0|                 0.0|             0|
|38edbe648d5b71710...|    1.0|                 1.0|             0|
|dc68448ffbc44bb2b...|    0.0|                 0.0|             1|
+--------------------+-------+--------------------+--------------+
only showing top 20 rows

In [55]:
spark.stop()