In [18]:
from pyspark.sql import SparkSession
import getpass 
username=getpass.getuser()
spark=SparkSession. \
    builder. \
    config('spark.ui.port','0'). \
    config("spark.sql.warehouse.dir","/user/itv016478/warehouse"). \
    config('spark.shuffle.useOldFetchProtocol', 'true'). \
    enableHiveSupport(). \
    master('yarn'). \
    getOrCreate()

In [19]:
spark.conf.set ("spark.sql.unacceptable_rated_pts",0)
spark.conf.set ("spark.sql.very_bad_rated_pts",100)
spark.conf.set ("spark.sql.bad_rated_pts",250)
spark.conf.set ("spark.sql.good_rated_pts",500)
spark.conf.set ("spark.sql.very_good_rated_pts",650)
spark.conf.set ("spark.sql.excellent_rated_pts",800)

In [20]:
bad_rated_pts = spark.conf.get("spark.sql.bad_rated_pts")
good_rated_pts = spark.conf.get("spark.sql.good_rated_pts")
very_bad_rated_pts = spark.conf.get("spark.sql.very_bad_rated_pts")
very_good_rated_pts = spark.conf.get("spark.sql.very_good_rated_pts")
excellent_rated_pts = spark.conf.get("spark.sql.excellent_rated_pts")
unacceptable_rated_pts = spark.conf.get("spark.sql.unacceptable_rated_pts")

In [21]:
bad_data_final_df = spark.read \
    .option("header", True) \
    .format("csv") \
    .option("inferSchema", True) \
    .load("/user/itv016478/lendingclubproject/bad/bad_data_final")

In [22]:
spark.sql("USE itv016478_lending_clubb")

++
||
++
++

In [23]:
spark.sql("SHOW TABLES")

+--------------------+--------------------+-----------+
|            database|           tableName|isTemporary|
+--------------------+--------------------+-----------+
|itv016478_lending...|           customers|      false|
|itv016478_lending...|    customers_loan_a|      false|
|itv016478_lending...|    customers_loan_l|      false|
|itv016478_lending...|    customers_loan_s|      false|
|itv016478_lending...|    customers_loan_t|      false|
|itv016478_lending...|    customers_loan_v|      false|
|itv016478_lending...|   customers_loan_vv|      false|
|itv016478_lending...|       customerstest|      false|
|itv016478_lending...|               loans|      false|
|itv016478_lending...|        loans_delinq|      false|
|itv016478_lending...|           loans_enq|      false|
|itv016478_lending...|          loans_enqq|      false|
|itv016478_lending...|      loans_enqqtest|      false|
|itv016478_lending...|    loans_new_delinq|      false|
|itv016478_lending...|      loans_new_enqq|      false|
|itv016478_lending...|loans_new_enqq_final|      false|
|itv016478_lending...|loans_new_enqq_fi...|      false|
|itv016478_lending...|   loans_new_enqq_tt|      false|
|itv016478_lending...|         loans_repay|      false|
|itv016478_lending...|           loanstest|      false|
+--------------------+--------------------+-----------+
only showing top 20 rows

In [24]:
spark.sql("SELECT * FROM itv016478_lending_clubb.customerstest")

+--------------------+-------------------+----------+--------------+-------------+-------------+---------------+---------------+-----+---------+-------------------+-----------------------+----------------+------------------+-------------------------+--------------------+
|           member_id|          emp_title|emp_length|home_ownership|annual_income|address_state|address_zipcode|address_country|grade|sub_grade|verification_status|total_high_credit_limit|application_type|join_annual_income|verification_status_joint|         ingest_date|
+--------------------+-------------------+----------+--------------+-------------+-------------+---------------+---------------+-----+---------+-------------------+-----------------------+----------------+------------------+-------------------------+--------------------+
|87652e41c28bb7ad2...|    Account Manager|         3|           OWN|     105000.0|           CO|          802xx|            USA|    C|       C2|       Not Verified|                64900.0|      Individual|              null|                     null|2025-05-12 14:38:...|
|2a56b01b073ffade8...|     letter carrier|        10|      MORTGAGE|      70000.0|           NV|          890xx|            USA|    B|       B3|    Source Verified|                38962.0|      Individual|              null|                     null|2025-05-12 14:38:...|
|c1517068e054959f9...|       Inside Sales|         2|      MORTGAGE|      51000.0|           CO|          801xx|            USA|    A|       A3|       Not Verified|               316883.0|      Individual|              null|                     null|2025-05-12 14:38:...|
|4aa52ed021923756d...|            Billing|         4|           OWN|      26000.0|           CT|          064xx|            USA|    D|       D4|           Verified|                62203.0|      Individual|              null|                     null|2025-05-12 14:38:...|
|75a21005006873982...|   shift supervisor|        10|          RENT|      72000.0|           CO|          801xx|            USA|    A|       A5|           Verified|               116361.0|      Individual|              null|                     null|2025-05-12 14:38:...|
|ff16e6a8fef0655de...|    Project Planner|         2|          RENT|      55000.0|           CA|          926xx|            USA|    B|       B1|    Source Verified|                34615.0|      Individual|              null|                     null|2025-05-12 14:38:...|
|4b697403fe1e51bb6...|           Attorney|         1|      MORTGAGE|      67500.0|           TX|          750xx|            USA|    C|       C4|    Source Verified|               255514.0|      Individual|              null|                     null|2025-05-12 14:38:...|
|aac5c9a9d16799085...|Surface electrician|        10|           OWN|     104000.0|           WV|          265xx|            USA|    C|       C3|           Verified|               151936.0|      Individual|              null|                     null|2025-05-12 14:38:...|
|867ac0f0ea5d9d82b...|          Paralegal|         3|           OWN|      38000.0|           CT|          067xx|            USA|    C|       C1|    Source Verified|                29465.0|      Individual|              null|                     null|2025-05-12 14:38:...|
|5f20b644324ae0322...|              owner|         2|          RENT|      74000.0|           CA|          941xx|            USA|    C|       C1|    Source Verified|                46790.0|      Individual|              null|                     null|2025-05-12 14:38:...|
|c94cbb8061fada062...|         Supervisor|        10|          RENT|      50000.0|           AR|          721xx|            USA|    D|       D3|           Verified|                63600.0|      Individual|              null|                     null|2025-05-12 14:38:...|
|3d255d681ef7e582d...|         bookkeeper|        10|          RENT|      28000.0|           MA|          026xx|            USA|    B|       B3|           Verified|                23677.0|      Individual|              null|                     null|2025-05-12 14:38:...|
|614b08ec1ff990a8d...|    driving own car|         4|          RENT|     140000.0|           NY|          112xx|            USA|    B|       B5|    Source Verified|                77502.0|      Individual|              null|                     null|2025-05-12 14:38:...|
|9b22a17fd1183ab3e...| irrigation foreman|         5|      MORTGAGE|      24960.0|           FL|          349xx|            USA|    A|       A4|    Source Verified|               135016.0|      Individual|              null|                     null|2025-05-12 14:38:...|
|425edc011da721edb...|        crew leader|        10|      MORTGAGE|      31000.0|           MI|          490xx|            USA|    E|       E1|    Source Verified|                62500.0|      Individual|              null|                     null|2025-05-12 14:38:...|
|c7b0287936e2595e8...|      IT Specialist|         5|           OWN|      93805.0|           DC|          200xx|            USA|    F|       F3|           Verified|               578477.0|      Individual|              null|                     null|2025-05-12 14:38:...|
|056638762d85f9d75...|            stocker|        10|           OWN|      35000.0|           WA|          992xx|            USA|    B|       B3|       Not Verified|                60846.0|      Individual|              null|                     null|2025-05-12 14:38:...|
|f739582d3dd1516c2...|               null|         6|      MORTGAGE|      52000.0|           FL|          330xx|            USA|    D|       D4|    Source Verified|                33100.0|      Individual|              null|                     null|2025-05-12 14:38:...|
|7a8d3b4046a9b6e6a...|            Manager|         5|          RENT|      98500.0|           FL|          334xx|            USA|    B|       B1|       Not Verified|               156913.0|      Individual|              null|                     null|2025-05-12 14:38:...|
|a141a466e2e8de8ef...|     CAREER PLANNER|        10|      MORTGAGE|      92000.0|           NC|          285xx|            USA|    C|       C2|       Not Verified|               278023.0|      Individual|              null|                     null|2025-05-12 14:38:...|
+--------------------+-------------------+----------+--------------+-------------+-------------+---------------+---------------+-----+---------+-------------------+-----------------------+----------------+------------------+-------------------------+--------------------+
only showing top 20 rows

In [25]:
spark.sql("select * from loanstest")

+--------+--------------------+-----------+-------------+---------------+-------------+-------------------+----------+-----------+------------------+--------------------+--------------------+
| loan_id|           member_id|loan_amount|funded_amount|loan_term_years|interest_rate|monthly_installment|issue_date|loan_status|      loan_purpose|          loan_title|         ingest_date|
+--------+--------------------+-----------+-------------+---------------+-------------+-------------------+----------+-----------+------------------+--------------------+--------------------+
|68407277|6d5091b3fcaaeb4ea...|     3600.0|       3600.0|              3|        13.99|             123.03|  Dec-2015| Fully Paid|debt_consolidation|  Debt consolidation|2025-05-28 07:31:...|
|68355089|b5e7938b0a2da4cea...|    24700.0|      24700.0|              3|        11.99|             820.28|  Dec-2015| Fully Paid|    small_business|            Business|2025-05-28 07:31:...|
|68341763|91060b858433e8a61...|    20000.0|      20000.0|              5|        10.78|             432.66|  Dec-2015| Fully Paid|  home_improvement|                null|2025-05-28 07:31:...|
|66310712|cab1fa9f533688b0a...|    35000.0|      35000.0|              5|        14.85|              829.9|  Dec-2015|    Current|debt_consolidation|  Debt consolidation|2025-05-28 07:31:...|
|68476807|f74e401c1ab0adf78...|    10400.0|      10400.0|              5|        22.45|             289.91|  Dec-2015| Fully Paid|    major_purchase|      Major purchase|2025-05-28 07:31:...|
|68426831|8aef4bb29d609d8d6...|    11950.0|      11950.0|              3|        13.44|             405.18|  Dec-2015| Fully Paid|debt_consolidation|  Debt consolidation|2025-05-28 07:31:...|
|68476668|538b4653da3b1e814...|    20000.0|      20000.0|              3|         9.17|             637.58|  Dec-2015| Fully Paid|debt_consolidation|  Debt consolidation|2025-05-28 07:31:...|
|67275481|b24d55f21390533c5...|    20000.0|      20000.0|              3|         8.49|             631.26|  Dec-2015| Fully Paid|    major_purchase|      Major purchase|2025-05-28 07:31:...|
|68466926|1035c5401b0ca76d0...|    10000.0|      10000.0|              3|         6.49|             306.45|  Dec-2015| Fully Paid|       credit_card|Credit card refin...|2025-05-28 07:31:...|
|68616873|cb0f1777593e77909...|     8000.0|       8000.0|              3|        11.48|             263.74|  Dec-2015| Fully Paid|       credit_card|Credit card refin...|2025-05-28 07:31:...|
|68356421|a962f4d59caec5fa1...|    22400.0|      22400.0|              5|        12.88|              508.3|  Dec-2015|    Current|debt_consolidation|  Debt consolidation|2025-05-28 07:31:...|
|68426545|e7592ab57b3afd9f1...|    16000.0|      16000.0|              5|        12.88|             363.07|  Dec-2015|    Current|debt_consolidation|  Debt consolidation|2025-05-28 07:31:...|
|68338832|603afa9d1be879b7b...|     1400.0|       1400.0|              3|        12.88|               47.1|  Dec-2015| Fully Paid|             other|                null|2025-05-28 07:31:...|
|66624733|9fe2d59ddf2a4f37e...|    18000.0|      18000.0|              5|        19.48|              471.7|  Dec-2015|Charged Off|debt_consolidation|  Debt consolidation|2025-05-28 07:31:...|
|68466961|23857480ccf555ce4...|    28000.0|      28000.0|              3|         6.49|             858.05|  Dec-2015| Fully Paid|debt_consolidation|  Debt consolidation|2025-05-28 07:31:...|
|68354783|7c69d5f36fdabf6e1...|     9600.0|       9600.0|              3|         7.49|             298.58|  Dec-2015| Fully Paid|       credit_card|Credit card refin...|2025-05-28 07:31:...|
|68466916|08bf9e080503b0113...|    25000.0|      25000.0|              3|         7.49|             777.55|  Dec-2015| Fully Paid|debt_consolidation|  Debt consolidation|2025-05-28 07:31:...|
|68577849|1cafb05aa6c894c30...|    18000.0|      18000.0|              5|        11.99|             400.31|  Dec-2015| Fully Paid|debt_consolidation|  Debt consolidation|2025-05-28 07:31:...|
|68506798|f2c4010f700d8c9c4...|    23000.0|      23000.0|              5|         8.49|             471.77|  Dec-2015|    Current|       credit_card|Credit card refin...|2025-05-28 07:31:...|
|68495092|05ad4aed7c393035e...|     8650.0|       8650.0|              3|        19.89|             320.99|  Dec-2015| Fully Paid|debt_consolidation|  Debt consolidation|2025-05-28 07:31:...|
+--------+--------------------+-----------+-------------+---------------+-------------+-------------------+----------+-----------+------------------+--------------------+--------------------+
only showing top 20 rows

In [26]:
spark.sql("SELECT * FROM loans_repay").show()

+--------+------------------------+-----------------------+-----------------------+----------------------+-------------------+-----------------+-----------------+
| loan_id|total_principal_received|total_interest_received|total_late_fee_received|total_payment_received|last_payment_amount|last_payment_date|next_payment_date|
+--------+------------------------+-----------------------+-----------------------+----------------------+-------------------+-----------------+-----------------+
|76003861|                  6423.8|                5607.85|                    0.0|              12031.65|             574.88|         Jan-2018|             null|
|76263914|                  2400.0|                 323.18|                    0.0|             2723.1802|             905.18|         Dec-2017|             null|
|75537401|                 12600.0|                1392.76|                    0.0|             13992.757|            3437.74|         Aug-2018|             null|
|75038986|                 7805.03|                7583.71|                    0.0|              15388.74|             440.72|         Mar-2019|         Apr-2019|
|76301424|                 2614.78|                1080.09|                    0.0|               3694.87|             153.89|         Apr-2018|             null|
|75333198|                 8664.09|                3431.32|                   68.8|              12164.21|              343.9|         Mar-2019|         Apr-2019|
|76391453|                 35000.0|               10266.01|                    0.0|             45266.008|           18884.35|         Feb-2019|             null|
|76363364|                 15000.0|                2093.11|                    0.0|             17093.107|            4648.59|         Aug-2018|             null|
|76272510|                14463.21|               11178.79|                 110.13|              25752.13|             734.18|         Mar-2019|         Apr-2019|
|76304116|                  4800.0|                1051.65|                    0.0|             5851.6523|            1761.59|         Dec-2017|             null|
|76422971|                 2222.99|                1457.74|                    0.0|               4357.37|             369.25|         Feb-2017|             null|
|75369187|                17855.93|                9340.74|                    0.0|              27196.67|             778.38|         Mar-2019|         Apr-2019|
|76212079|                 6197.74|                 935.75|                    0.0|               7133.49|              204.0|         Mar-2019|         Apr-2019|
|75104089|                  8500.0|                1208.95|                    0.0|              9708.954|             213.62|         Feb-2019|             null|
|75669444|                14313.44|               13782.05|                    0.0|              28095.49|             807.98|         Feb-2019|         Apr-2019|
|76223382|                 1936.79|                 292.42|                    0.0|               2229.21|              63.75|         Mar-2019|         Apr-2019|
|76223540|                 25000.0|                3383.18|                 134.19|             28517.375|            5107.74|         Apr-2017|             null|
|76255093|                  7000.0|                1830.84|                    0.0|              8830.839|             435.99|         Jan-2019|             null|
|76402196|                 7731.33|                1787.84|                    0.0|               9519.17|             272.15|         Mar-2019|         Apr-2019|
|76223437|                 24000.0|                3186.22|                    0.0|             27186.223|            8110.44|         Jun-2018|             null|
+--------+------------------------+-----------------------+-----------------------+----------------------+-------------------+-----------------+-----------------+
only showing top 20 rows

In [27]:
#1) Loan score calculation - loan repayment history (ph)

In [28]:
bad_data_final_df.createOrReplaceTempView("bad_data_final")

In [29]:
ph_df = spark.sql(f"""
    SELECT l.member_id ,\
        CASE
            WHEN r.last_payment_amount < (l.monthly_installment * 0.5) THEN {very_bad_rated_pts}
            WHEN r.last_payment_amount >= (l.monthly_installment * 0.5) AND r.last_payment_amount < l.monthly_installment THEN {bad_rated_pts}
            WHEN r.last_payment_amount = l.monthly_installment THEN {good_rated_pts}
            WHEN r.last_payment_amount > l.monthly_installment AND r.last_payment_amount <= (l.monthly_installment * 1.5) THEN {very_good_rated_pts}
            WHEN r.last_payment_amount > (l.monthly_installment * 1.5) THEN {excellent_rated_pts}
            ELSE {unacceptable_rated_pts}
        END AS last_payment_pts,
        
        CASE
            WHEN r.total_payment_received >= (l.funded_amount * 0.50) THEN {very_good_rated_pts}
            WHEN r.total_payment_received < (l.funded_amount * 0.50) AND r.total_payment_received > 0 THEN {good_rated_pts}
            WHEN r.total_payment_received = 0 OR r.total_payment_received IS NULL THEN {unacceptable_rated_pts}
        END AS total_payment_pts

    FROM itv016478_lending_clubb.loans_repay r
    INNER JOIN itv016478_lending_clubb.loanstest l ON l.loan_id = r.loan_id
    WHERE l.member_id NOT IN (SELECT member_id FROM bad_data_final)
""")

In [30]:
ph_df.createOrReplaceTempView("ph_pts")

In [31]:
spark.sql("select * from ph_pts").show()

+--------------------+----------------+-----------------+
|           member_id|last_payment_pts|total_payment_pts|
+--------------------+----------------+-----------------+
|dcec9334e70f1cc95...|             800|              650|
|fc58ca61f51f9dcac...|             500|              650|
|2fb62a6ca51063b11...|             500|              650|
|488268a5531951622...|             800|              650|
|ade6026208e48f5f9...|             500|              650|
|7c8b0ca6acddfaeb1...|             800|              650|
|a707b7fe7c38bad65...|             800|              650|
|1df639cddea30c288...|             800|              650|
|22d67005e12d8726d...|             500|              650|
|009cf312bd46551b4...|             500|              650|
|2d995d383622fa80e...|             500|              650|
|88b97663d2562f239...|             500|              650|
|097d871ba6f21ee37...|             500|              650|
|82e698108e1b8b88a...|             500|              650|
|9e89f004a01479234...|             500|              650|
|28ea534e78570f8d1...|             800|              650|
|27a6888d24e06f6e2...|             500|              650|
|c0d144ae7ab17c793...|             500|              500|
|56d1102515f7d6a32...|             800|              650|
|ba484052baf1e604c...|             800|              650|
+--------------------+----------------+-----------------+
only showing top 20 rows

In [32]:
#2)Loan score calculation - loan defaulter history(ldh)

In [33]:
ldh_ph_df = spark.sql(f"""
    select ph.*, \
    CASE 
    WHEN d.delinq_2yrs = 0 THEN {excellent_rated_pts} 
    WHEN d.delinq_2yrs BETWEEN 1 AND 2 THEN {bad_rated_pts} 
    WHEN d.delinq_2yrs BETWEEN 3 AND 5 THEN {very_bad_rated_pts} 
    WHEN d.delinq_2yrs > 5 OR d.delinq_2yrs IS NULL THEN {unacceptable_rated_pts} 
    END AS delinq_pts, 
    CASE 
    WHEN l.pub_rec = 0 THEN {excellent_rated_pts} 
    WHEN l.pub_rec BETWEEN 1 AND 2 THEN {bad_rated_pts} 
    WHEN l.pub_rec BETWEEN 3 AND 5 THEN {very_bad_rated_pts} 
    WHEN l.pub_rec > 5 OR l.pub_rec IS NULL THEN {very_bad_rated_pts} 
    END AS public_records_pts, 
    CASE 
    WHEN l.pub_rec_bankruptcies = 0 THEN {excellent_rated_pts} 
    WHEN l.pub_rec_bankruptcies BETWEEN 1 AND 2 THEN {bad_rated_pts} 
    WHEN l.pub_rec_bankruptcies BETWEEN 3 AND 5 THEN {very_bad_rated_pts} 
    WHEN l.pub_rec_bankruptcies > 5 OR l.pub_rec_bankruptcies IS NULL THEN {very_bad_rated_pts} 
    END as public_bankruptcies_pts, 
    CASE 
    WHEN l.inq_last_6mths = 0 THEN {excellent_rated_pts} 
    WHEN l.inq_last_6mths BETWEEN 1 AND 2 THEN {bad_rated_pts} 
    WHEN l.inq_last_6mths BETWEEN 3 AND 5 THEN {very_bad_rated_pts} 
    WHEN l.inq_last_6mths > 5 OR l.inq_last_6mths IS NULL THEN {unacceptable_rated_pts} 
    END AS enq_pts 
    FROM itv016478_lending_clubb.loans_new_enqq_tt l 
    INNER JOIN itv016478_lending_clubb.loans_new_delinq d ON d.member_id = l.member_id
    INNER JOIN ph_pts ph ON ph.member_id = l.member_id
    WHERE l.member_id NOT IN (SELECT member_id FROM bad_data_final)
""")

In [34]:
spark.sql("DESCRIBE FORMATTED ldh_ph_pts").show(truncate=False)

AnalysisException: Table or view not found for 'DESCRIBE TABLE': ldh_ph_pts; line 1 pos 0;
'DescribeRelation true, [col_name#972, data_type#973, comment#974]
+- 'UnresolvedTableOrView [ldh_ph_pts], DESCRIBE TABLE, true

In [35]:
ldh_ph_df.createOrReplaceTempView("ldh_ph_pts")

In [36]:
spark.sql("select * from ldh_ph_pts").show()

+--------------------+----------------+-----------------+----------+------------------+-----------------------+-------+
|           member_id|last_payment_pts|total_payment_pts|delinq_pts|public_records_pts|public_bankruptcies_pts|enq_pts|
+--------------------+----------------+-----------------+----------+------------------+-----------------------+-------+
|000c8875b71a6b47c...|             800|              650|       250|               800|                    800|    800|
|0012728d9f616bdf2...|             500|              500|       800|               800|                    800|    800|
|00151ece27c7ca280...|             800|              650|       800|               800|                    800|    250|
|003769d7f54c7859e...|             500|              500|       250|               800|                    800|    800|
|0037bb910c0a758f5...|             500|              500|       800|               800|                    800|    800|
|003e1e6cbd2920bbb...|             500|              650|       250|               250|                    250|    800|
|004017b21bd4d6271...|             100|              650|         0|               800|                    800|    800|
|005b4c3db3fce07dc...|             500|              650|       250|               250|                    800|    250|
|00710707c563c2119...|             800|              650|       250|               800|                    800|    800|
|007da79904f69970d...|             800|              650|       250|               800|                    800|    800|
|008515010997a80e1...|             500|              650|       800|               800|                    800|    250|
|009ccbe6fb66324d1...|             500|              650|       800|               800|                    800|    800|
|00d10706191726593...|             800|              650|       800|               800|                    800|    250|
|00da692a960ef39f1...|             800|              650|       800|               800|                    800|    250|
|00eb4bf9db783d8c2...|             250|              650|       800|               800|                    800|    800|
|00ec12e214988d8b3...|             650|              650|       800|               800|                    800|    250|
|00f435a80d0440ece...|             500|              500|       100|               800|                    800|    800|
|00fc2ae3ffb1213e4...|             650|              650|       250|               800|                    800|    800|
|00fc8144cb210ba8c...|             500|              650|       250|               250|                    250|    800|
|0110b7f5f4010cbaf...|             800|              650|       800|               800|                    800|    250|
+--------------------+----------------+-----------------+----------+------------------+-----------------------+-------+
only showing top 20 rows

In [37]:
spark.sql("select * from ldh_ph_pts").show()

+--------------------+----------------+-----------------+----------+------------------+-----------------------+-------+
|           member_id|last_payment_pts|total_payment_pts|delinq_pts|public_records_pts|public_bankruptcies_pts|enq_pts|
+--------------------+----------------+-----------------+----------+------------------+-----------------------+-------+
|000c8875b71a6b47c...|             800|              650|       250|               800|                    800|    800|
|0012728d9f616bdf2...|             500|              500|       800|               800|                    800|    800|
|00151ece27c7ca280...|             800|              650|       800|               800|                    800|    250|
|003769d7f54c7859e...|             500|              500|       250|               800|                    800|    800|
|0037bb910c0a758f5...|             500|              500|       800|               800|                    800|    800|
|003e1e6cbd2920bbb...|             500|              650|       250|               250|                    250|    800|
|004017b21bd4d6271...|             100|              650|         0|               800|                    800|    800|
|005b4c3db3fce07dc...|             500|              650|       250|               250|                    800|    250|
|00710707c563c2119...|             800|              650|       250|               800|                    800|    800|
|007da79904f69970d...|             800|              650|       250|               800|                    800|    800|
|008515010997a80e1...|             500|              650|       800|               800|                    800|    250|
|009ccbe6fb66324d1...|             500|              650|       800|               800|                    800|    800|
|00d10706191726593...|             800|              650|       800|               800|                    800|    250|
|00da692a960ef39f1...|             800|              650|       800|               800|                    800|    250|
|00eb4bf9db783d8c2...|             250|              650|       800|               800|                    800|    800|
|00ec12e214988d8b3...|             650|              650|       800|               800|                    800|    250|
|00f435a80d0440ece...|             500|              500|       100|               800|                    800|    800|
|00fc2ae3ffb1213e4...|             650|              650|       250|               800|                    800|    800|
|00fc8144cb210ba8c...|             500|              650|       250|               250|                    250|    800|
|0110b7f5f4010cbaf...|             800|              650|       800|               800|                    800|    250|
+--------------------+----------------+-----------------+----------+------------------+-----------------------+-------+
only showing top 20 rows

In [38]:
spark.sql("select * from itv016478_lending_clubb.loans")

+--------+--------------------+-----------+-------------+----------------+-------------+-------------------+----------+-----------+------------------+--------------------+
| loan_id|           member_id|loan_amount|funded_amount|loan_term_months|interest_rate|monthly_installment|issue_date|loan_status|      loan_purpose|          loan_title|
+--------+--------------------+-----------+-------------+----------------+-------------+-------------------+----------+-----------+------------------+--------------------+
|68407277|6d5091b3fcaaeb4ea...|     3600.0|       3600.0|            null|        13.99|             123.03|  Dec-2015| Fully Paid|debt_consolidation|  Debt consolidation|
|68355089|b5e7938b0a2da4cea...|    24700.0|      24700.0|            null|        11.99|             820.28|  Dec-2015| Fully Paid|    small_business|            Business|
|68341763|91060b858433e8a61...|    20000.0|      20000.0|            null|        10.78|             432.66|  Dec-2015| Fully Paid|  home_improvement|                null|
|66310712|cab1fa9f533688b0a...|    35000.0|      35000.0|            null|        14.85|              829.9|  Dec-2015|    Current|debt_consolidation|  Debt consolidation|
|68476807|f74e401c1ab0adf78...|    10400.0|      10400.0|            null|        22.45|             289.91|  Dec-2015| Fully Paid|    major_purchase|      Major purchase|
|68426831|8aef4bb29d609d8d6...|    11950.0|      11950.0|            null|        13.44|             405.18|  Dec-2015| Fully Paid|debt_consolidation|  Debt consolidation|
|68476668|538b4653da3b1e814...|    20000.0|      20000.0|            null|         9.17|             637.58|  Dec-2015| Fully Paid|debt_consolidation|  Debt consolidation|
|67275481|b24d55f21390533c5...|    20000.0|      20000.0|            null|         8.49|             631.26|  Dec-2015| Fully Paid|    major_purchase|      Major purchase|
|68466926|1035c5401b0ca76d0...|    10000.0|      10000.0|            null|         6.49|             306.45|  Dec-2015| Fully Paid|       credit_card|Credit card refin...|
|68616873|cb0f1777593e77909...|     8000.0|       8000.0|            null|        11.48|             263.74|  Dec-2015| Fully Paid|       credit_card|Credit card refin...|
|68356421|a962f4d59caec5fa1...|    22400.0|      22400.0|            null|        12.88|              508.3|  Dec-2015|    Current|debt_consolidation|  Debt consolidation|
|68426545|e7592ab57b3afd9f1...|    16000.0|      16000.0|            null|        12.88|             363.07|  Dec-2015|    Current|debt_consolidation|  Debt consolidation|
|68338832|603afa9d1be879b7b...|     1400.0|       1400.0|            null|        12.88|               47.1|  Dec-2015| Fully Paid|             other|                null|
|66624733|9fe2d59ddf2a4f37e...|    18000.0|      18000.0|            null|        19.48|              471.7|  Dec-2015|Charged Off|debt_consolidation|  Debt consolidation|
|68466961|23857480ccf555ce4...|    28000.0|      28000.0|            null|         6.49|             858.05|  Dec-2015| Fully Paid|debt_consolidation|  Debt consolidation|
|68354783|7c69d5f36fdabf6e1...|     9600.0|       9600.0|            null|         7.49|             298.58|  Dec-2015| Fully Paid|       credit_card|Credit card refin...|
|68466916|08bf9e080503b0113...|    25000.0|      25000.0|            null|         7.49|             777.55|  Dec-2015| Fully Paid|debt_consolidation|  Debt consolidation|
|68577849|1cafb05aa6c894c30...|    18000.0|      18000.0|            null|        11.99|             400.31|  Dec-2015| Fully Paid|debt_consolidation|  Debt consolidation|
|68506798|f2c4010f700d8c9c4...|    23000.0|      23000.0|            null|         8.49|             471.77|  Dec-2015|    Current|       credit_card|Credit card refin...|
|68495092|05ad4aed7c393035e...|     8650.0|       8650.0|            null|        19.89|             320.99|  Dec-2015| Fully Paid|debt_consolidation|  Debt consolidation|
+--------+--------------------+-----------+-------------+----------------+-------------+-------------------+----------+-----------+------------------+--------------------+
only showing top 20 rows

In [39]:
#3) Loan score calculation - financial health (fh)

In [40]:
fh_ldh_ph_df = spark.sql (f"""SELECT ldef.*, \
    CASE \
        WHEN LOWER(l.loan_status) LIKE '%fully paid%' then {excellent_rated_pts} \
        WHEN LOWER(l.loan_status) LIKE '%current%' then {good_rated_pts} 
        WHEN LOWER(l.loan_status) LIKE '%in grace period%' then {bad_rated_pts} 
        WHEN LOWER(l.loan_status) LIKE '%late(16-30 days)%' or  LOWER(l.loan_status) LIKE '%late (31-120 days)%' then {very_bad_rated_pts}  
        WHEN LOWER(l.loan_status) LIKE '%charged off%' then  {unacceptable_rated_pts} 
    END AS loan_status_pts, 
    CASE 
        WHEN LOWER(a.home_ownership) LIKE '%own%' THEN {excellent_rated_pts} 
        WHEN LOWER(a.home_ownership) LIKE '%rent%' THEN {good_rated_pts} 
        WHEN LOWER(a.home_ownership) LIKE '%mortgage%' THEN {bad_rated_pts} 
        WHEN LOWER(a.home_ownership) LIKE '%any%' OR LOWER(a.home_ownership) IS NULL THEN {very_bad_rated_pts} 
    END AS home_pts, 
    CASE \
        WHEN l.funded_amount <= (a.total_high_credit_limit* 0.10) THEN {excellent_rated_pts} 
        WHEN l.funded_amount > (a.total_high_credit_limit* 0.10) AND l.funded_amount <= (a.total_high_credit_limit* 0.20) THEN {very_good_rated_pts} 
        WHEN l.funded_amount > (a.total_high_credit_limit* 0.20) AND l.funded_amount <= (a.total_high_credit_limit* 0.30) THEN {good_rated_pts}
        WHEN l.funded_amount > (a.total_high_credit_limit* 0.30) AND l.funded_amount <= (a.total_high_credit_limit* 0.50) THEN {bad_rated_pts} 
        WHEN l.funded_amount > (a.total_high_credit_limit* 0.50) AND l.funded_amount <= (a.total_high_credit_limit* 0.70) THEN {very_bad_rated_pts} 
        WHEN l.funded_amount > (a.total_high_credit_limit* 0.70) THEN {unacceptable_rated_pts} 
        else {unacceptable_rated_pts} 
    END AS credit_limit_pts,    
    CASE 
         WHEN (a.grade) = 'A' and (a.sub_grade)= 'A1' THEN {excellent_rated_pts}   
         WHEN (a.grade) = 'A' and (a.sub_grade)= 'A2' THEN ({excellent_rated_pts}* 0.95) 
         WHEN (a.grade) = 'A' and (a.sub_grade)= 'A3' THEN ({excellent_rated_pts}* 0.90) 
         WHEN (a.grade) = 'A' and (a.sub_grade)= 'A4' THEN ({excellent_rated_pts}* 0.85)  
         WHEN (a.grade) = 'A' and (a.sub_grade)= 'A5' THEN ({excellent_rated_pts}* 0.80) 
         WHEN (a.grade) = 'B' and (a.sub_grade)= 'B1' THEN {very_good_rated_pts} 
         WHEN (a.grade) = 'B' and (a.sub_grade)= 'B2' THEN ({very_good_rated_pts}* 0.95) 
         WHEN (a.grade) = 'B' and (a.sub_grade)= 'B3' THEN ({very_good_rated_pts}* 0.90) 
         WHEN (a.grade) = 'B' and (a.sub_grade)= 'B4' THEN ({very_good_rated_pts}* 0.85) 
         WHEN (a.grade) = 'B' and (a.sub_grade)= 'B5' THEN ({very_good_rated_pts}* 0.80) 
         WHEN (a.grade) = 'C' and (a.sub_grade)= 'C1' THEN {good_rated_pts} 
         WHEN (a.grade) = 'C' and (a.sub_grade)= 'C2' THEN ({good_rated_pts}* 0.95) 
         WHEN (a.grade) = 'C' and (a.sub_grade)= 'C3' THEN ({good_rated_pts}* 0.90) 
         WHEN (a.grade) = 'C' and (a.sub_grade)= 'C4' THEN ({good_rated_pts}* 0.85)  
         WHEN (a.grade) = 'C' and (a.sub_grade)= 'C5' THEN ({good_rated_pts}* 0.80) 
         WHEN (a.grade) = 'D' and (a.sub_grade)= 'D1' THEN {bad_rated_pts} 
         WHEN (a.grade) = 'D' and (a.sub_grade)= 'D2' THEN ({bad_rated_pts}* 0.95)
         WHEN (a.grade) = 'D' and (a.sub_grade)= 'D3' THEN ({bad_rated_pts}* 0.90) 
         WHEN (a.grade) = 'D' and (a.sub_grade)= 'D4' THEN ({bad_rated_pts}* 0.85) 
         WHEN (a.grade) = 'D' and (a.sub_grade)= 'D5' THEN ({bad_rated_pts}* 0.80) 
         WHEN (a.grade) = 'E' and (a.sub_grade)= 'E1' THEN {very_bad_rated_pts} 
         WHEN (a.grade) = 'E' and (a.sub_grade)= 'E2' THEN ({very_bad_rated_pts}* 0.95) 
         WHEN (a.grade) = 'E' and (a.sub_grade)= 'E3' THEN ({very_bad_rated_pts}* 0.90) 
         WHEN (a.grade) = 'E' and (a.sub_grade)= 'E4' THEN ({very_bad_rated_pts}* 0.85) 
         WHEN (a.grade) = 'E' and (a.sub_grade)= 'E5' THEN ({very_bad_rated_pts}* 0.80) 
         WHEN (a.grade) in ('F','G') THEN  ({very_bad_rated_pts}) 
         END AS grade_pts 
FROM ldh_ph_pts ldef 
INNER JOIN itv016478_lending_clubb.loans l ON ldef.member_id = l.member_id 
INNER JOIN itv016478_lending_clubb.customerstest a ON a.member_id = ldef.member_id 
""")

In [41]:
fh_ldh_ph_df.createOrReplaceTempView("fh_ldh_ph_pts")

In [42]:
spark.sql("select * from fh_ldh_ph_pts")

+--------------------+----------------+-----------------+----------+------------------+-----------------------+-------+---------------+--------+----------------+---------+
|           member_id|last_payment_pts|total_payment_pts|delinq_pts|public_records_pts|public_bankruptcies_pts|enq_pts|loan_status_pts|home_pts|credit_limit_pts|grade_pts|
+--------------------+----------------+-----------------+----------+------------------+-----------------------+-------+---------------+--------+----------------+---------+
|000c8875b71a6b47c...|             800|              650|       250|               800|                    800|    800|            800|     250|             800|   680.00|
|0012728d9f616bdf2...|             500|              500|       800|               800|                    800|    800|            500|     800|             250|   640.00|
|00151ece27c7ca280...|             800|              650|       800|               800|                    800|    250|            800|     500|             250|   500.00|
|003769d7f54c7859e...|             500|              500|       250|               800|                    800|    800|              0|     250|             800|   100.00|
|0037bb910c0a758f5...|             500|              500|       800|               800|                    800|    800|            500|     500|             800|   450.00|
|003e1e6cbd2920bbb...|             500|              650|       250|               250|                    250|    800|            500|     250|             800|   640.00|
|004017b21bd4d6271...|             100|              650|         0|               800|                    800|    800|            800|     250|             800|   500.00|
|005b4c3db3fce07dc...|             500|              650|       250|               250|                    800|    250|            500|     250|             500|   520.00|
|00710707c563c2119...|             800|              650|       250|               800|                    800|    800|            800|     250|             800|   520.00|
|007da79904f69970d...|             800|              650|       250|               800|                    800|    800|            800|     500|             250|   800.00|
|008515010997a80e1...|             500|              650|       800|               800|                    800|    250|            500|     500|             500|   250.00|
|009ccbe6fb66324d1...|             500|              650|       800|               800|                    800|    800|              0|     250|             800|   250.00|
|00d10706191726593...|             800|              650|       800|               800|                    800|    250|            800|     500|             250|   425.00|
|00da692a960ef39f1...|             800|              650|       800|               800|                    800|    250|            800|     800|             500|   100.00|
|00eb4bf9db783d8c2...|             250|              650|       800|               800|                    800|    800|            800|     250|             800|   552.50|
|00ec12e214988d8b3...|             650|              650|       800|               800|                    800|    250|            800|     500|             650|   680.00|
|00f435a80d0440ece...|             500|              500|       100|               800|                    800|    800|            500|     250|             800|   475.00|
|00fc2ae3ffb1213e4...|             650|              650|       250|               800|                    800|    800|            800|     250|             650|   450.00|
|00fc8144cb210ba8c...|             500|              650|       250|               250|                    250|    800|            500|     250|             800|   500.00|
|0110b7f5f4010cbaf...|             800|              650|       800|               800|                    800|    250|            800|     250|             800|   450.00|
+--------------------+----------------+-----------------+----------+------------------+-----------------------+-------+---------------+--------+----------------+---------+
only showing top 20 rows

In [43]:
#Final loan score calculation by considering 3 criteria with % 
#1) Payment History =20%
#2) Loan defaulters =45%
#3) Financial health =35%

In [44]:
loan_score = spark.sql("select member_id, \
((last_payment_pts + total_payment_pts)*0.20) as payment_history_pts, \
((delinq_pts + public_records_pts + public_bankruptcies_pts+ enq_pts)*0.45) as defaulters_history_pts,  \
((loan_status_pts + home_pts + credit_limit_pts+grade_pts)* 0.35) as financial_healthy_defaulters \
FROM fh_ldh_ph_pts")

In [45]:
loan_score

+--------------------+-------------------+----------------------+----------------------------+
|           member_id|payment_history_pts|defaulters_history_pts|financial_healthy_defaulters|
+--------------------+-------------------+----------------------+----------------------------+
|000c8875b71a6b47c...|             290.00|               1192.50|                    885.5000|
|0012728d9f616bdf2...|             200.00|               1440.00|                    766.5000|
|00151ece27c7ca280...|             290.00|               1192.50|                    717.5000|
|003769d7f54c7859e...|             200.00|               1192.50|                    402.5000|
|0037bb910c0a758f5...|             200.00|               1440.00|                    787.5000|
|003e1e6cbd2920bbb...|             230.00|                697.50|                    766.5000|
|004017b21bd4d6271...|             150.00|               1080.00|                    822.5000|
|005b4c3db3fce07dc...|             230.00|                697.50|                    619.5000|
|00710707c563c2119...|             290.00|               1192.50|                    829.5000|
|007da79904f69970d...|             290.00|               1192.50|                    822.5000|
|008515010997a80e1...|             230.00|               1192.50|                    612.5000|
|009ccbe6fb66324d1...|             230.00|               1440.00|                    455.0000|
|00d10706191726593...|             290.00|               1192.50|                    691.2500|
|00da692a960ef39f1...|             290.00|               1192.50|                    770.0000|
|00eb4bf9db783d8c2...|             180.00|               1440.00|                    840.8750|
|00ec12e214988d8b3...|             260.00|               1192.50|                    920.5000|
|00f435a80d0440ece...|             200.00|               1125.00|                    708.7500|
|00fc2ae3ffb1213e4...|             260.00|               1192.50|                    752.5000|
|00fc8144cb210ba8c...|             230.00|                697.50|                    717.5000|
|0110b7f5f4010cbaf...|             290.00|               1192.50|                    805.0000|
+--------------------+-------------------+----------------------+----------------------------+
only showing top 20 rows

In [46]:
final_loan_score = loan_score.withColumn('loan_score',loan_score.payment_history_pts + loan_score.defaulters_history_pts+ loan_score.financial_healthy_defaulters)

In [47]:
final_loan_score.createOrReplaceTempView("loan_score_eval")

In [48]:
spark.sql("select * from loan_score_eval")

+--------------------+-------------------+----------------------+----------------------------+----------+
|           member_id|payment_history_pts|defaulters_history_pts|financial_healthy_defaulters|loan_score|
+--------------------+-------------------+----------------------+----------------------------+----------+
|000c8875b71a6b47c...|             290.00|               1192.50|                    885.5000| 2368.0000|
|0012728d9f616bdf2...|             200.00|               1440.00|                    766.5000| 2406.5000|
|00151ece27c7ca280...|             290.00|               1192.50|                    717.5000| 2200.0000|
|003769d7f54c7859e...|             200.00|               1192.50|                    402.5000| 1795.0000|
|0037bb910c0a758f5...|             200.00|               1440.00|                    787.5000| 2427.5000|
|003e1e6cbd2920bbb...|             230.00|                697.50|                    766.5000| 1694.0000|
|004017b21bd4d6271...|             150.00|               1080.00|                    822.5000| 2052.5000|
|005b4c3db3fce07dc...|             230.00|                697.50|                    619.5000| 1547.0000|
|00710707c563c2119...|             290.00|               1192.50|                    829.5000| 2312.0000|
|007da79904f69970d...|             290.00|               1192.50|                    822.5000| 2305.0000|
|008515010997a80e1...|             230.00|               1192.50|                    612.5000| 2035.0000|
|009ccbe6fb66324d1...|             230.00|               1440.00|                    455.0000| 2125.0000|
|00d10706191726593...|             290.00|               1192.50|                    691.2500| 2173.7500|
|00da692a960ef39f1...|             290.00|               1192.50|                    770.0000| 2252.5000|
|00eb4bf9db783d8c2...|             180.00|               1440.00|                    840.8750| 2460.8750|
|00ec12e214988d8b3...|             260.00|               1192.50|                    920.5000| 2373.0000|
|00f435a80d0440ece...|             200.00|               1125.00|                    708.7500| 2033.7500|
|00fc2ae3ffb1213e4...|             260.00|               1192.50|                    752.5000| 2205.0000|
|00fc8144cb210ba8c...|             230.00|                697.50|                    717.5000| 1645.0000|
|0110b7f5f4010cbaf...|             290.00|               1192.50|                    805.0000| 2287.5000|
+--------------------+-------------------+----------------------+----------------------------+----------+
only showing top 20 rows

In [49]:
spark.conf.set ("spark.sql.unacceptable_grade_pts",750)
spark.conf.set ("spark.sql.very_bad_grade_pts",1000)
spark.conf.set ("spark.sql.bad_grade_pts",1500)
spark.conf.set ("spark.sql.good_grade_pts",2000)
spark.conf.set ("spark.sql.very_good_grade_pts",2500)

In [50]:
loan_score_final = spark.sql("""
    SELECT ls.*,
        CASE
            WHEN loan_score > ${spark.sql.very_good_grade_pts} THEN 'A'
            WHEN loan_score <= ${spark.sql.very_good_grade_pts} AND loan_score > ${spark.sql.good_grade_pts} THEN 'B'
            WHEN loan_score <= ${spark.sql.good_grade_pts} AND loan_score > ${spark.sql.bad_grade_pts} THEN 'C'
            WHEN loan_score <= ${spark.sql.bad_grade_pts} AND loan_score > ${spark.sql.very_bad_grade_pts} THEN 'D'
            WHEN loan_score <= ${spark.sql.very_bad_grade_pts} AND loan_score > ${spark.sql.unacceptable_grade_pts} THEN 'E'
            WHEN loan_score <= ${spark.sql.unacceptable_grade_pts} THEN 'F'
        END AS loan_final_grade
    FROM loan_score_eval ls
""")

In [51]:
loan_score_final.createOrReplaceTempView("loan_final_table")

In [52]:
spark.sql("select * from loan_final_table")

+--------------------+-------------------+----------------------+----------------------------+----------+----------------+
|           member_id|payment_history_pts|defaulters_history_pts|financial_healthy_defaulters|loan_score|loan_final_grade|
+--------------------+-------------------+----------------------+----------------------------+----------+----------------+
|000c8875b71a6b47c...|             290.00|               1192.50|                    885.5000| 2368.0000|               B|
|0012728d9f616bdf2...|             200.00|               1440.00|                    766.5000| 2406.5000|               B|
|00151ece27c7ca280...|             290.00|               1192.50|                    717.5000| 2200.0000|               B|
|003769d7f54c7859e...|             200.00|               1192.50|                    402.5000| 1795.0000|               C|
|0037bb910c0a758f5...|             200.00|               1440.00|                    787.5000| 2427.5000|               B|
|003e1e6cbd2920bbb...|             230.00|                697.50|                    766.5000| 1694.0000|               C|
|004017b21bd4d6271...|             150.00|               1080.00|                    822.5000| 2052.5000|               B|
|005b4c3db3fce07dc...|             230.00|                697.50|                    619.5000| 1547.0000|               C|
|00710707c563c2119...|             290.00|               1192.50|                    829.5000| 2312.0000|               B|
|007da79904f69970d...|             290.00|               1192.50|                    822.5000| 2305.0000|               B|
|008515010997a80e1...|             230.00|               1192.50|                    612.5000| 2035.0000|               B|
|009ccbe6fb66324d1...|             230.00|               1440.00|                    455.0000| 2125.0000|               B|
|00d10706191726593...|             290.00|               1192.50|                    691.2500| 2173.7500|               B|
|00da692a960ef39f1...|             290.00|               1192.50|                    770.0000| 2252.5000|               B|
|00eb4bf9db783d8c2...|             180.00|               1440.00|                    840.8750| 2460.8750|               B|
|00ec12e214988d8b3...|             260.00|               1192.50|                    920.5000| 2373.0000|               B|
|00f435a80d0440ece...|             200.00|               1125.00|                    708.7500| 2033.7500|               B|
|00fc2ae3ffb1213e4...|             260.00|               1192.50|                    752.5000| 2205.0000|               B|
|00fc8144cb210ba8c...|             230.00|                697.50|                    717.5000| 1645.0000|               C|
|0110b7f5f4010cbaf...|             290.00|               1192.50|                    805.0000| 2287.5000|               B|
+--------------------+-------------------+----------------------+----------------------------+----------+----------------+
only showing top 20 rows

In [53]:
spark.sql("select * from loan_final_table WHERE loan_final_grade = 'A' ")

+--------------------+-------------------+----------------------+----------------------------+----------+----------------+
|           member_id|payment_history_pts|defaulters_history_pts|financial_healthy_defaulters|loan_score|loan_final_grade|
+--------------------+-------------------+----------------------+----------------------------+----------+----------------+
|01d09c0697e6f2b4c...|             290.00|               1440.00|                    885.5000| 2615.5000|               A|
|01fd4599363e37030...|             290.00|               1440.00|                    811.1250| 2541.1250|               A|
|02467cbacf0c26ee7...|             290.00|               1440.00|                    819.0000| 2549.0000|               A|
|02703789a14e62d48...|             290.00|               1440.00|                    852.2500| 2582.2500|               A|
|02cd6a9b503ee26f5...|             290.00|               1440.00|                    939.7500| 2669.7500|               A|
|02cf3df86581018e0...|             230.00|               1440.00|                    892.5000| 2562.5000|               A|
|02dcb46e4e67b0ed4...|             290.00|               1440.00|                    927.5000| 2657.5000|               A|
|0400453ebdf2c92a4...|             290.00|               1440.00|                    852.2500| 2582.2500|               A|
|044eeead374f51e06...|             290.00|               1440.00|                    875.0000| 2605.0000|               A|
|04927144049e02a32...|             290.00|               1440.00|                    863.6250| 2593.6250|               A|
|04fb7859f52900a7d...|             290.00|               1440.00|                    928.3750| 2658.3750|               A|
|04fdc5c4e82697d37...|             290.00|               1440.00|                    875.0000| 2605.0000|               A|
|0578d1a6233b331d8...|             180.00|               1440.00|                    910.0000| 2530.0000|               A|
|0604ca74ea5d626e9...|             290.00|               1440.00|                    875.0000| 2605.0000|               A|
|068de05e74b4b4d17...|             290.00|               1440.00|                    864.5000| 2594.5000|               A|
|06db7d9db4fa4e604...|             290.00|               1440.00|                    871.5000| 2601.5000|               A|
|0a1cc153b15eea9d4...|             150.00|               1440.00|                    973.0000| 2563.0000|               A|
|0ae922df3be8bf5e6...|             290.00|               1440.00|                    969.5000| 2699.5000|               A|
|0b9f0fed545518db3...|             290.00|               1440.00|                    852.2500| 2582.2500|               A|
|0bad9c385a1001fe3...|             290.00|               1440.00|                    829.5000| 2559.5000|               A|
+--------------------+-------------------+----------------------+----------------------------+----------+----------------+
only showing top 20 rows

In [54]:
spark.sql("select count (*) from loan_final_table")

+--------+
|count(1)|
+--------+
| 1102587|
+--------+

In [55]:
loan_score_final.write \
.format("parquet") \
.mode("overwrite") \
.option("path","/user/itv016478/lendingclubproject/processed/loan_score") \
.save()

In [56]:
spark.stop()